ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.dropdown_container {
  display: flex;
  width: 100%;
  background: #fff;
  overflow-y: hidden;
}

.subcategory-panel {
  cursor: initial;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 559px;
  padding: 16px;
  gap: 16px;
  flex-wrap: wrap;
  // overflow: hidden;

  .subcategory-column {
    display: flex;
    flex-direction: column;
    width: 149px;

    li {
      height: 26px;
    }
  }
}

.category-list {
  background-color: #f5f5f5;
  min-width: 195px;
  padding: 0px;
  margin: 0px;
  list-style: none;

  .category-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #f5f5f5;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    padding-right: 12px;

    .category_item_description {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      font-family: source_sans_proregular, serif;
    }
  }
}

.subcategory_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  position: relative;
  width: 149px;
  gap: 2px;
  margin-bottom: 8px;

  img {
    color: #f27a1a;
  }

  .subcategory_column_name {
    font-size: 14px;
    display: flex;
    font-weight: 600;
    color: #f27a1a;
    max-width: 133px;
  }
}

.subcategory_item {
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  line-height: 18px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
