.FavoristPage {
  width: 1200px;
  margin: 0 auto;
}

.favorites {
  height: 70px;

  &_header {
    border-bottom: 1px solid #e6e6e6;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_item {
      gap: 30px;
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 100%;

      .favorites_item_btn {
        color: #f27a1a;
        font-size: 18px;
        text-decoration: none;
        border-bottom: 4px solid #f27a1a;
        line-height: 22px;
        font-family: source_sans_proregular, sans-serif;
        font-weight: 400;
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;

        i {
          margin-right: 14px;
        }
      }
    }
  }
}

.collection_item_btn {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  color: #666;
  display: flex;
  align-items: center;

  .collection_icon {
    font-size: 18px;
    margin-right: 12px;
  }
}

.search_box_container {
  border: 0;
  height: 44px;
  padding: 0;

  input {
    border: 1px solid transparent;
    transition: border-color 0.5s ease;
    width: 330px;
    height: 100%;
    padding-left: 42px;
    background-color: #f5f5f5;
  }
}

.search_box {
  align-items: center;
  display: flex;
  height: 44px;
  width: 100%;
  position: relative;

  .search_icon {
    position: absolute;
    left: 15px;
  }
}

.layout {
  padding: 20px 0;
}

.special_filter_container {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
}

.special-filters-wrapper {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 12px;
  gap: 5px;
  padding-bottom: 6px;
  padding-top: 6px;
  border-radius: 20px;
  cursor: pointer;
}

.filter_all_fav {
  border: 1px solid #f27a1a;
  background-color: #fef4eb;
  font-family: Source Sans Pro, sans-serif;

  .text {
    color: #f27a1a;
    font-size: 14px;
    line-height: 18px;
  }
}

.filter_cupon,
.filter_discount,
.filter_price_advantage {
  display: flex;
  align-items: center;
  font-family: Source Sans Pro, sans-serif;
  font-size: 14px;
}

.filter_cupon {
  background-color: #fff0f4;
}

.filter_discount {
  background-color: #feeaea;
}

.filter_price_advantage {
  background-color: #ebf5ff;
}

.favorites_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product_card {
  position: relative;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  height: 514px !important;
  width: 224px !important;

  .item_image {
    border-radius: 8px 8px 0 0 !important;
    height: 336px;
    width: -webkit-fill-available;
  }

  &_description {
    position: absolute;
    bottom: 0px;
  }
}
