.Footer {
  background-color: #f5f5f5;
  display: flex;
  width: 100%;
}

.footer_container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  margin: auto;
  padding: 64px 0;
  width: 1200px;
}

.footer_top {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.menu_section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  font-family: source_sans_proregular, sans-serif;
}

.menu_title {
  color: #333;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  font-family: source_sans_proregular, sans-serif;
}

.menu_title:hover {
  color: #f27a1a;
}

.sub_menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sub_menu_link {
  color: #333;
  font-size: 14px;
  line-height: 18px;
}

.change_country_container {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.change_country_btn {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  box-sizing: border-box;
  color: #333;
  font-size: 14px;
  justify-content: space-between;
  line-height: 18px;
  padding: 8px 12px;
  width: 166px;
  cursor: pointer;
}

.social_media_container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* .social_media_container .menu_title{
    color: #333;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
} */

.social_media_links_container {
  display: flex;
  gap: 16px;
}

.social_media_img {
  height: 40px;
  width: 40px;
}

.security_certificate_links_container {
  display: flex;
  gap: 8px;
}

.security_certificate_image {
  width: 56px;
  height: 56px;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
}

.secure_shopping_links_container {
  display: flex;
  gap: 8px;
}

.secure-shopping-image {
  width: 56px;
  height: 56px;
}

.mobile_app_links_container {
  display: flex;
  gap: 8px;
}

.mobile_app_image {
  width: 128px;
  height: 36px;
}
