@import url("https://cdn.dsmcdn.com/web/production/icomoon-1738678454729.css");

.Navbar {
  width: 100%;
}

.header_top {
  width: 1200px;
  display: flex;
  justify-content: end;
  margin: 0 auto;
}

.header_right {
  display: flex;
  margin: 0px;
  padding: 0;
}

.header_right li {
  margin-left: 30px;
  list-style: none;
}
.header_right li a {
  font-family: source_sans_proregular, sans-serif;
  color: #999;
  font-size: 12px;
  line-height: 15px;
}

.header_right li a:hover {
  color: #1b1b1b;
  cursor: pointer;
}

.sticky_header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.sticky_header .logo {
  cursor: pointer;
  width: 146px;
  height: 100%;
}

#search_input {
  width: 598px;
  height: 42px;
  padding-left: 15px;
  padding-right: 40px;
  background-color: #f3f3f3;
  border: none;
  border-radius: 6px;
  border-color: #f27a1a;
}

.input_column {
  position: relative;
}

.input_seacrh_sticky_icon {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: calc(55% - 12px);
  right: 10px;
  cursor: pointer;
}

#search_input:focus {
  outline: none;
  border: 3px solid #f5a565;
  background-color: #fff;
}

.account_navigation_list {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.account_navigation_list .shopping_icon {
  display: flex;
  align-items: center;
  color: #333333;
}

.account_navigation_list li {
  font-family: source_sans_prosemibold, sans-serif !important;
  font-size: 14px;
  color: #333333;
  padding-left: 5px;
  margin-top: 2px;
}

.account_navigation_list li:hover {
  color: #f27a1a;
  cursor: pointer;
}

.account_navigation_list li a {
  font-family: source_sans_prosemibold, sans-serif !important;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.navigation .category_btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigation .new_badge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: source_sans_proregular, serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  white-space: nowrap;
  padding-top: 1px;
  box-sizing: border-box;
  color: #fff;
  background: #dc2e2e;
  border-radius: 32px;
  margin-left: 3px;
  height: 16px;
  width: 30px;
}

.navigation .navigation_list {
  width: 990px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.navigation_list li a:hover {
  cursor: pointer;
  color: #f27a1a;
}

.navigation_list li a {
  display: flex;
  align-items: center;
  font-family: source_sans_prosemibold, sans-serif !important;
  font-weight: 600;
  color: #333;
  font-size: 14px;
  line-height: 34px;
  letter-spacing: 0.18px;
}

.underline {
  border-bottom: 1px solid #e8e8e8 !important;
}

.navigation .category_btn p {
  margin: 0 1px 0 8px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  font-family: source_sans_prosemibold, sans-serif !important;
}

.navigation_list li:hover .new_badge {
  background-color: #f27a1a;
}

.account_dropdown_wrapper {
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

.account_dropdown_menu {
  position: absolute;
  top: calc(100% + 10px);
  right: 0px;
  left: 50%;
  transform: translateX(-60%);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 8px;
  display: none;
  z-index: 1000;
  width: 150px;
}

.account_dropdown_wrapper:hover .account_dropdown_menu {
  display: block;
}

.account_dropdown_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.account_dropdown_menu li {
  padding: 8px 0;
  font-size: 14px;
  cursor: pointer;
}

.account_dropdown_menu li:hover {
  color: #f27a1a;
}

#account_icons {
  padding: 3px;
  padding-right: 5px;
}

.account_dropdown_menu li:hover {
  background-color: #fef4eb;
}

.account_dropdown_menu strong {
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  color: #f27a1a;
  text-align: left;

  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 8px;
}

.shopping_icon .initial-icon {
  font-size: 18px;
}

.shopping_icon p {
  padding-left: 5px;
}

.account_navigation .heart_icon {
  display: flex;
  align-items: center;
  color: #333333;
}

.account_navigation .heart_icon p {
  padding-left: 5px;
}

.category_dropdown {
  display: none;
}

.category_btn {
  position: relative;
}

.category_btn:hover .category_dropdown {
  display: block;
}

.category_dropdown {
  width: 1200px;
  position: absolute;
  top: calc(100% + 3px);
  right: 0px;
  left: 0px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  border-radius: 8px;
  display: none;
  z-index: 1000;
}
